*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1170px;
    margin:auto;
}

header{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("graycolor.jpg");
    height: 100vh;
    background-size:cover;
    background-position: center center;
    position: relative;

}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nax-area li{
    display: inline-block;
}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family:poppins;
    font-size: 14px;
}

.nav-item a:hover{
    background-color: lightgray;
}

.welcome-text{
    position: absolute;
    width: 500px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;

}

.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text a{
    border: 1px solider #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: incline-block;
    color: #fff;

}

.welcome-text a:hover{
    background: #fff;
    color: #333
}

.navbar-nav a:hover{
    background: #fff;
    color: #333
}


.navbar-nav h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.header {
    height: 300px;
    background-color:black;
    font-size:20px;
    text-align:center;
}

